{% extends "layout.html" %}

{% block content %}

<!-- <h2>{{ frase }}</h2> -->

<div class="container tableFixHeadBIG">
    <table class="table table-fixed">
        <thead class="thead-dark">
            <tr>
                <th >{{ frase }}</th>
                <th >Artista</th>
                <th ></th>
                <th ></th>
            </tr>
        </thead>
        <tbody id="data-table">
        {% for name, dados in albums.items %}
            <tr>
                <td style="width: 300px;"><a href="{% url 'albumDetails' %}?id={{ dados.nome }}"> {{ name }}  </a></td>
                <td style="width: 300px;">
                        <a href="{% url 'artistTracks' %}?id={{ dados.artista }}">{{ dados.artista }}</a>
                        <br />
                </td>
                <td style="width: 80px;">
                    <button class="btn btn-outline-success dropdown-toggle" type="button" onclick="showHidenItens({{ forloop.counter }})">Show Info
                    <span class="caret"></span></button>
                </td>
                <td id="{{ forloop.counter }}" style="display:none" class="dropdown"><br />
                    <ul>
                        <li>
                            Producer: {{ dados.producer }}
                        </li>
                        <li>
                            Recorder: {{ dados.recorder }}
                        </li>
                        <li>
                            Data: {{ dados.data }}
                        </li>
                        <li>
                            Streams: {{ dados.streams }}
                        </li>
                        <br/>
                    </ul>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}