{% extends "layout.html" %}

{% block content %}
    <div xmlns="http://www.w3.org/1999/xhtml"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:cs="http://www.xpand.com/rdf/"
         about="{{ uri}}" typeof="cs:Album" >
        <div class="container"><br />
            <div class="row">
                <div class="col-3">
                    <img property="foaf:Image" style="width: 185px; height: 185px; float:right"  src="{{img}}"/><br />
                </div>
                <div class="col-9">
                    <b>Album Name:</b> <span property="foaf:name">{{ name }}</span> <br />

                    <b>Artista:</b> <span rel="cs:MusicArtist"><span about="{{ idArtista }}" property="foaf:name" typeof="cs:MusicArtist">{{ aname }}</span></span><br />

                    <b>Data:</b> <span property="cs:dataPublished"> {{ data }}</span><br>
                    <b>Genre:</b> <span property="cs:genre">{{ genero }}</span><br>
                    {% if nextAlbum %}
                        <b>Next Album:</b> <span property="cs:nextAlbum">{{nextAlbum}}</span><br>
                    {% endif %}
                    {% if prevAlbum %}
                        <b>Previous Album:</b> <span property="cs:nextAlbum">{{prevAlbum}}</span><br>
                    {% endif %}
                    {% if producer %}
                        <b>Producer:</b> <span property="cs:nextAlbum">{{producer}}</span><br>
                    {% endif %}
                    <b>PlayCount:</b> <span property="cs:playCount">42719617</span><br><br />
                </div>
            </div><br /><br />
            <b>Biography:</b><br />&emsp; <span property="cs:biography"> {{ bio }}</span><br><br />
            <div class="row">
                <div class="col-4">
                    {% if recorders %}
                    <b>Recorders:</b>
                    <ul>
                        {% for r in recorders %}
                            <li>
                                <span property="cs:recoder">{{ r }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if tags %}
                        <b>Tags:</b>
                        <ul rel="cs:Tag">
                            {% for nome, id in tags.items %}
                                <li>
                                      <span about="{{ id }}" property="foaf:name">{{ nome }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if simAlbums %}
                    <b>Similar Albums:</b>
                        <ul rel="cs:similarAlbum">
                            {% for Aname, dados in simAlbums.items %}
                                <li>
                                    <a href="{% url 'albumDetails' %}?id={{ dados.id }}" about="{{ dados.uri }}" typeof="cs:Album"
                                          property="foaf:name">{{ Aname}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}