{% extends "layout.html" %}

{% block content %}
<div class="container tableFixHead">

    <table class="table table-fixed">
        <thead class="thead-dark">
            <tr>
                <th width="500px;">{{ frase }}</th>

                <th>Sample</th>
            </tr>
        </thead>
        <tbody id="data-table">
        {% for name, music in tracks.items %}
            <tr>
                <td>{{ name }} </td>
                <td><iframe width="560" height="315" src="{{ music }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
