{% extends "layout.html" %}

{% block content %}
    <div class="container"><br />
            <div class="row">
                <div class="col-3">
                    <img style="width: 185px; height: 185px; float:right"  src="{{thumbnail}}"/><br />
                </div>
                <div class="col-9">
                    <b>Album : </b> <span>{{ name }}</span> <br />

                    <b>Artista: </b><span>{{ artist }}</span><br />

                    <b>Data:</b> <span> {{ date }}</span><br>
                    {% if genre %}
                        <b>Genre: </b> <span>{{ genre }}</span><br>
                    {% endif %}

                </div>
            </div><br /><br />
            <b>Biography:</b><br />&emsp; <span> {{ abstract }}</span><br><br />
    </div>
{% endblock %}